# Automatically handle text files with LF normalization
* text=auto

# Exclude specific files and directories from the ZIP
/.wordpress-org export-ignore
/.github export-ignore
/assets/css/build.css export-ignore

/tailwindcss export-ignore
/.distignore export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.wordpress-org export-ignore